---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Hero from "../components/Hero.astro"
import SobreMi from "../components/SobreMi.astro"
import Proyectos from "../components/Proyectos.astro"
import Experiencia from "../components/Experiencia.astro"
import Contacto from "../components/Contacto.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Jose Salas - Desarrollador Web | Portfolio & Blog">
  <Navbar />
  <main>
    <Hero />
    <SobreMi />
	  <Proyectos />
	  <Experiencia />
	  <Contacto />
  </main>
  <Footer />
</Layout>