---
import "../styles/global.css"
import { ClientRouter } from "astro:transitions"
// Recibimos props desde las páginas que usen este layout
const { title, description = "Mi portfolio personal" } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/miPortfolio/favicon.svg" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>

  <body class="bg-white text-gray-900 font-sans antialiased">
    <slot />
  </body>
</html>